@keyframes appear-zoom{
    from {
        opacity: 0;
        scale: 0.5;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}


.block-zoom{
    animation: appear-zoom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes appear-left{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to{
        opacity: 1;
           transform: translateX(0px);
    }
}


.block-left{
    animation: appear-left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}



@keyframes appear-right{
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to{
        opacity: 1;
           transform: translateX(0px);
    }
}


.block-right{
    animation: appear-right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}






