

.overpass{
  font-family: "Overpass";
  font-optical-sizing: auto;
 
}

.sans-serif{
  font-family: "sans-serif";
  font-optical-sizing: auto;
}


@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}
